<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8'>
    <title>Hello Vue.js</title>
    <script src="http://unpkg.com/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <input type="text" name="" value="" placeholder="Please input something and the following change" v-model="message">
      <p>{{ message }}</p>
      <hr>
    </div>
    <div id="app-2">
      <span v-bind:title="message">Hover your mouse over me for a few seconds to see my dynamically title!</span>
    </div>
    <hr>
    <div id="app-3">
      <p v-if="seen">Now you see me</p>
    </div>
    <hr>
    <div id="app-4">
      <ol>
        <li v-for="todo in todos">{{ todo.text }}</li>
      </ol>
    </div>
    <hr>
    <div id="app-5">
      <p>{{ message }}</p>
      <button v-on:click="reverseMessage">Reverse Message</button>
    </div>
    <hr>
    <div id="app-6">
      <p>{{ message}}</p>
      <input v-model="message">
    </div>
    <hr>
    <div id="app-7">
      <ol>
        <todo-item v-for="item in groceryList" v-bind:todo="item"></todo-item>
      </ol>
    </div>
    <hr>
    <div id="app-8">
      <h3>v-if in Vue.js</h3>
      <p v-if="yes">This message will show if the 'if-statement' returns true.</p>
      <p v-if="status">This message will hide if the 'if-statement' returns false</p>
      <p v-if="age >= 28">Age: {{ age }}</p>
      <p v-if="name.indexOf('the') ">Name: {{ name }}</p>
    </div>
    <hr>
    <div id="app-9">
      <p>
        Original message: "{{ message }}"
      </p>
      <p>
        Computed reversed message: "{{ reversedMessage }}"
      </p>
    </div>
    <hr>
    <div id="todo-list-example">
      <input v-model="newTodoText" v-on:keyup.enter="addNewTodo" placeholder="Add a todo">
      <ul>
        <li is="todo-item" v-for="(todo, index) in todos" v-bind:title="todo" v-on:remove="todos.splice(index, 1)"></li>
      </ul>
    </div>
    <script type="text/javascript">
      var app = new Vue({
        el: "#app",
        data: {
          message: "Hello Vue!"
        }
      })
      var app2 = new Vue({
        el: "#app-2",
        data: {
          message: 'You load this page on ' + new Date()
        }
      })
      var app3 = new Vue({
        el: "#app-3",
        data: {
          seen: true
        }
      })
      var app4 = new Vue({
        el: "#app-4",
        data: {
          todos: [
            { text: 'Learn JavaScript' } ,
            { text: 'Learn Vue' },
            { text: 'Build something awesome' }
          ]
        }
      })
      var app5 = new Vue({
        el: "#app-5",
        data: {
          message: 'Today is Tuesday, I am still struggling to improve my typing :('
        },
        methods: {
          reverseMessage: function() {
            this.message = this.message.split('').reverse().join('')
          }
        }
      })
      var app6 = new Vue({
        el: "#app-6",
        data: {
          message: 'Hello Vue!'
        }
      })

      // Composing with Components
      // Vue.component(tagName, options) --> which tagname is a custom tag names
      Vue.component('todo-item', {
        props: ['todo'],    // Pass data from the parent scope into child components
        template: '<li>{{ todo.text }}</li>'
      })
      var app7 = new Vue({
        el: "#app-7",
        data: {
          groceryList:[
            { text: 'Vegetables' },
            { text: 'Cheese' },
            { text: 'Others' }
          ]
        }
      })
      var vm = new Vue({
        el: "#app-8",
        data: {
          yes: true,
          status: false,
          age: 28,
          name: 'onthemoon'
        }
      })
      var app9 = new Vue({
        el: "#app-9",
        data: {
          message: 'Spring is coming!'
        },
        // computed properties and Watchers
        computed: {
          // a computed getter
          reversedMessage: function() {
            // `this` points to the app-9 instance
            return this.message.split('').reverse().join('')
          }
        }
      })

      Vue.component('todo-item', {
        template: '\
          <li>\
            {{ title }}\
            <button v-on:click="$emit(\'remove\')">X</button>\
          </li>\
        ',
        props: ['title']
      })
      new Vue({
        el: '#todo-list-example',
        data: {
          newTodoText: '',
          todos: [
            'Do the dishes',
            'Take out the trash',
            'Mow the lawn'
          ]
        },
        methods: {
          addNewTodo: function () {
            this.todos.push(this.newTodoText)
            this.newTodoText = ''
          }
        }
      })
    </script>
  </body>
</html>
